# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
dist/

# Env
.env
*.env
.env.backend
.env.frontend

# DB
*.db
*.sqlite3
data/

# Node
node_modules/
dist/
.cache/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
